<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href=>
<head>
    <title>View Pets</title>
</head>
<body>
    <nav class="">
        <h1 class="">Welcome</h1>
        <div class="">
            <a href="" class="">Dashboard</a>
            <a href="" class="">Logout</a>

        </div>

    </nav>
    <div class="">
        <div class="">
            <h2 class=""></h2>
            <p class="">Description:</p>
            <p class="">Date Published:</p>
        </div>
    </div>
</body>
</html>