<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Dashboard</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Pet Blog</h1>
        <h2 class="text-primary">Welcome</h2>
        <div class=>
            <a href="/create/pet" class="text-nav">Add a Pet</a>
            <a href="/logout" class="text-nav">Logout</a>

        </div>

    </nav>
    <div class=>

        <table class="table">
            <thead>
                <tr>
                    <th>Pets</th>
                </tr>
            </thead>
            <tbody>
                {% for pet in pets %}
                <tr>
                    <img>
                    <td>{{pet.pet_name}}</td>
                        <td>
                            <a href="/pet/{{pet_object.id}}"}}>View</a>
                            {% if pet.user_id == session.user_id %}
                            <a href="/pet/edit{{pet.id}}">Edit</a>
                            <a href="/pet/delete{{pet.id}}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>