<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Dashboard</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Pet Blog</h1>
        <h2 class="text-primary">Welcome</h2>
        <div class=>
            <a href="/create/pet" class="text-nav">Add a Pet</a>
            <a href="/logout" class="text-nav">Logout</a>

        </div>

    </nav>
    <div class=>

        <table class="table">
            <thead>
                <tr>
                    <th>Pets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <img>
                        <td>
                            <a href=>View</a>
                            <a href="/pet/edit">Edit</a>
                            <a href="/pet/delete">Delete</a>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</body>
</html>