<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Edit Pet</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Welcome {{user.first_name}}</h1>
        <div>
            <a href="" class="text-nav">Dashboard</a>
            <a href="/logout" class="text-nav">Logout</a>

        </div>

    </nav>
    <form action="/pet/edit{{edit.id}}" method="post" class="edit">
        <h2 class="">Edit your Pet</h2>
        {% with messages = get_flashed_messages(category_filter=['pet']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>All Fields Must Be Met</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="text-primary">
            <input type="hidden" title="id" value={{edit.id}}>
            <div>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="text-small" value="{{edit.pet_name}}">
                </div>
                <div class="">
                    <label for="type">Animal Type:</label>
                    <textarea name="type" class="text-small">{{edit.pet_type}}</textarea>
                    <label for="breed">Animal Breed:</label>
                    <textarea name="breed" class="text-small">{{edit.pet_breed}}</textarea>
                    <label for="description">Tell us about your pet</label>
                    <textarea name="description" class="text-small">{{edit.pet_description}}</textarea>
                </div>
                <br>
                <input type="submit" value="Edit Pet" class="btn">
                </div>
            </div>
        </div>
    </form>
</body>
</html>