<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Edit Pet</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Welcome {{ session['first_name'] }}</h1>
        <div>
            <a href="/dashboard/{{session['id']}}" class="text-nav">Dashboard</a>
            <a href="/logout" class="text-nav">Logout</a>
        </div>

    </nav>
    <form action="/pet/change/{{ pet.id }}" method="post" class="edit">
        <h2 class="">Edit your Pet</h2>
        {% with messages = get_flashed_messages(category_filter=['pet']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>All Fields Must Be Met</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="text-primary">
            <div>
                <div>
                    <label for="name">Name: {{ pet.name }}</label>
                    <input type="text" name="pet_name" class="text-small" value="{{pet.pet_name}}">
                </div>
                <div class="">
                    <label for="type">Animal Type:</label>
                    <textarea name="pet_type" class="text-small">{{ pet.pet_type }}</textarea>
                    <label for="breed">Animal Breed:</label>
                    <textarea name="pet_breed" class="text-small">{{ pet.pet_breed }}</textarea>
                    <label for="pet_description">Tell us about your pet</label>
                    <textarea name="pet_description" class="text-small">{{ pet.pet_description }}</textarea>
                </div>
                <br>
                <input type="submit" value="Edit Pet" class="btn">
                <input type="hidden" name="id" value={{pet.id}}>
                </div>
            </div>
        </div>
    </form>
</body>
</html>