<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Edit Pet</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Welcome</h1>
        <div>
            <a href="" class="text-nav">Dashboard</a>
            <a href="" class="text-nav">Logout</a>

        </div>

    </nav>
    <form method="post" class="edit">
        <h2 class="text-primary">Edit your Pet</h2>
        <div>
            <input type="hidden" title="id">
            <div>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="text-small">
                </div>
                <div>
                    <label for="description">Tell us about your pet</label>
                    <textarea name="description" class="text-small"></textarea>
                </div>
                <br>
                <input class="btn">
                </div>
            </div>
        </div>
    </form>
</body>
</html>