<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Forums</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Pet Blog</h1>
        <div class="">
            <a href="/dashboard/{{session['id']}}" class="text-nav">Dashboard</a>
            <a href="/logout" class="text-nav">Logout</a>
    </nav>
    <div class="new">
        <div class="add-forum">
            <h2 class="upload">Forums</h2>
            <a class="forum" href="/forum/add">Create a Forum!</a>
        </div>
        <table class="forum-table">
        {% for forum in forums %}
        <div class="forum">
                <tr>
                    <td class="forum-head"><h3><a href="/forum/{{ forum.id }}">{{ forum.forum_title }}</a></h3></td>
                </tr>
                <tr>
                    <td class="forum-data"><p>About: {{ forum.forum_description }}</p></td>
                </tr>
                    <td class="forum-data"><p>Owner: <a href="/dashboard/{{ forum.owner.id }}">{{ forum.owner.first_name }}  {{ forum.owner.last_name }}</a></p></td>
                </tr>
        </div>
        {% endfor %}
        </table>
    </div>
</body>
</html>