<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Upload Pet</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Welcome {{ session['first_name'] }}</h1>
        <div class="">
            <a href="/dashboard/{{session['id']}}" class="text-nav">Dashboard</a>
            <a href="/logout" class="text-nav">Logout</a>

        </div>

    </nav>
    <form action="/pet/add" method="post" class="new">
        <h2 class="">Upload your Pet</h2>
        {% with messages = get_flashed_messages(category_filter=['pet']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>All Fields Must Be Met</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div>
            <input type="hidden" title="id">
            <div>
                <div>
                    <label for="pet_name">Name:</label>
                    <input type="text" name="pet_name" class="text-small">
                </div>
                <div>
                    <label for="pet_type">Animal Type:</label>
                    <input name="pet_type" class="text-small"></input>
                    <label for="pet_breed">Animal Breed:</label>
                    <input name="pet_breed" class="text-small"></input>
                    <label for="description">Tell us about your pet:</label>
                    <textarea name="pet_description" class="text-small"></textarea>
                </div>
                <br>
                <input type="submit" value="Add Pet" class="btn">
                </div>
            </div>
        </div>
    </form>
</body>
</html>