<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>View Pets</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Welcome</h1>
        <div>
            <a href="" class="text-nav">Dashboard</a>
            <a href="/logout" class="text-nav">Logout</a>

        </div>

    </nav>
    <div>
        <div class="container">
            <h2 class="text-primary"></h2>
            <img src = "{{ url_for('static',filename='media/dog.jpeg') }}" alt="dog">
            <p class="text-small">Type: {{ pet.pet_name }}</p>
            <p class="text-small">Breed: {{ pet.pet_breed }}</p>
            <p class="text-small">Description: {{ pet.pet_description }}</p>
        </div>
    </div>
</body>
</html>