<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>View Pets</title>
</head>
<body>
    <nav class="nav">
        <h1 class="text-primary">Welcome</h1>
        <div>
            <a href="" class="text-nav">Dashboard</a>
            <a href="/logout" class="text-nav">Logout</a>

        </div>

    </nav>
    <div>
        <div class="container">
            <h2 class="text-primary"></h2>
            <p class="text-small">Type:</p>
            <p class="text-small">Breed:</p>
            <p class="text-small">Description:</p>
        </div>
    </div>
</body>
</html>